<div class="panel-default">
  <div class="panel-heading">
    <h2>{{post.title}}</h2>
  </div>
  <div class="panel panel-body">
    <h4 (click)="goToCategoryPage(post)"><a>Category: {{post.category}}</a></h4>
    <p>{{post.date}}</p>
    <p>{{post.content}}</p>
    <img src={{post.image}} alt={{post.title}} />

  </div>
  <div class="panel-footer">
    <h1><a (click)="downVote()" class="glyphicon glyphicon-thumbs-down text-danger clickable" aria-hidden="true"></a>
      <a (click)="upVote()" class="glyphicon glyphicon-thumbs-up text-success clickable" aria-hidden="true"></a> Score: {{post.score}}</h1>
  </div>
</div>
